config/secrets.yml
# spec/fixtures/
!spec/fixtures/.keep
coverage/*
!coverage/.resultset.json
# spec/fixtures/cassettes/
spec/fixtures/*.html
spec/fixtures/*.txt
!spec/fixtures/lyrics_output.txt
# spec/fixtures/*.yml
# spec/fixtures/*.json
vendor/*
*.db
# Ignore application configuration
/config/application.yml
.bundle/
app/domain/songs/lib/__pycache__
.vscode/