/ 頂部 Hero + Search
.d-flex.flex-column.vh-100 style="padding-bottom: 100px;"
    == render('partials/_search_section', locals: { search_history: search_history })
    == render('partials/_songs_list', locals: { songs: songs, title: 'Hot Trends', icon: 'arrow-trend-up', bad_message: (defined?(bad_message) ? bad_message : nil) })