---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=20&market=US&q=track:%22Golden%22&type=track
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImQ1ZmUzOWI5ZmY3OGJiMTNjZWYxYjAzYTgwZDk2MDM3Ig=="'
    body:
      encoding: UTF-8
      string: '{"tracks":{"href":"https://api.spotify.com/v1/search?offset=0&limit=20&query=track%3A%22Golden%22&type=track&market=US","limit":20,"next":null,"offset":0,"previous":null,"total":17,"items":[{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/7mW7Tv7NvywKKXqafZo0Lc"},"href":"https://api.spotify.com/v1/artists/7mW7Tv7NvywKKXqafZo0Lc","id":"7mW7Tv7NvywKKXqafZo0Lc","name":"KPop
        Demon Hunters Cast","type":"artist","uri":"spotify:artist:7mW7Tv7NvywKKXqafZo0Lc"},{"external_urls":{"spotify":"https://open.spotify.com/artist/2yNNYQBChuox9A5Ka93BIn"},"href":"https://api.spotify.com/v1/artists/2yNNYQBChuox9A5Ka93BIn","id":"2yNNYQBChuox9A5Ka93BIn","name":"HUNTR/X","type":"artist","uri":"spotify:artist:2yNNYQBChuox9A5Ka93BIn"},{"external_urls":{"spotify":"https://open.spotify.com/artist/0BJ2EjOqcfgFvlZXNKrNbE"},"href":"https://api.spotify.com/v1/artists/0BJ2EjOqcfgFvlZXNKrNbE","id":"0BJ2EjOqcfgFvlZXNKrNbE","name":"Saja
        Boys","type":"artist","uri":"spotify:artist:0BJ2EjOqcfgFvlZXNKrNbE"}],"external_urls":{"spotify":"https://open.spotify.com/album/14JkAa6IiFaOh5s0nMyMU9"},"href":"https://api.spotify.com/v1/albums/14JkAa6IiFaOh5s0nMyMU9","id":"14JkAa6IiFaOh5s0nMyMU9","images":[{"height":640,"width":640,"url":"https://i.scdn.co/image/ab67616d0000b2734dcb6c5df15cf74596ab25a4"},{"height":300,"width":300,"url":"https://i.scdn.co/image/ab67616d00001e024dcb6c5df15cf74596ab25a4"},{"height":64,"width":64,"url":"https://i.scdn.co/image/ab67616d000048514dcb6c5df15cf74596ab25a4"}],"is_playable":true,"name":"KPop
        Demon Hunters (Soundtrack from the Netflix Film)","release_date":"2025-06-20","release_date_precision":"day","total_tracks":12,"type":"album","uri":"spotify:album:14JkAa6IiFaOh5s0nMyMU9"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/2yNNYQBChuox9A5Ka93BIn"},"href":"https://api.spotify.com/v1/artists/2yNNYQBChuox9A5Ka93BIn","id":"2yNNYQBChuox9A5Ka93BIn","name":"HUNTR/X","type":"artist","uri":"spotify:artist:2yNNYQBChuox9A5Ka93BIn"},{"external_urls":{"spotify":"https://open.spotify.com/artist/0RMJOzHDhAKY1o2j0W0vxY"},"href":"https://api.spotify.com/v1/artists/0RMJOzHDhAKY1o2j0W0vxY","id":"0RMJOzHDhAKY1o2j0W0vxY","name":"EJAE","type":"artist","uri":"spotify:artist:0RMJOzHDhAKY1o2j0W0vxY"},{"external_urls":{"spotify":"https://open.spotify.com/artist/0Wwji82sLA0Hcvtuak3omb"},"href":"https://api.spotify.com/v1/artists/0Wwji82sLA0Hcvtuak3omb","id":"0Wwji82sLA0Hcvtuak3omb","name":"AUDREY
        NUNA","type":"artist","uri":"spotify:artist:0Wwji82sLA0Hcvtuak3omb"},{"external_urls":{"spotify":"https://open.spotify.com/artist/6U1dV7aL68N7Gb0Naq34V5"},"href":"https://api.spotify.com/v1/artists/6U1dV7aL68N7Gb0Naq34V5","id":"6U1dV7aL68N7Gb0Naq34V5","name":"REI
        AMI","type":"artist","uri":"spotify:artist:6U1dV7aL68N7Gb0Naq34V5"},{"external_urls":{"spotify":"https://open.spotify.com/artist/7mW7Tv7NvywKKXqafZo0Lc"},"href":"https://api.spotify.com/v1/artists/7mW7Tv7NvywKKXqafZo0Lc","id":"7mW7Tv7NvywKKXqafZo0Lc","name":"KPop
        Demon Hunters Cast","type":"artist","uri":"spotify:artist:7mW7Tv7NvywKKXqafZo0Lc"}],"disc_number":1,"duration_ms":194607,"explicit":false,"external_ids":{"isrc":"QZ8BZ2513510"},"external_urls":{"spotify":"https://open.spotify.com/track/1CPZ5BxNNd0n0nF4Orb9JS"},"href":"https://api.spotify.com/v1/tracks/1CPZ5BxNNd0n0nF4Orb9JS","id":"1CPZ5BxNNd0n0nF4Orb9JS","is_local":false,"is_playable":true,"name":"Golden","popularity":98,"preview_url":null,"track_number":4,"type":"track","uri":"spotify:track:1CPZ5BxNNd0n0nF4Orb9JS"},{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/7mW7Tv7NvywKKXqafZo0Lc"},"href":"https://api.spotify.com/v1/artists/7mW7Tv7NvywKKXqafZo0Lc","id":"7mW7Tv7NvywKKXqafZo0Lc","name":"KPop
        Demon Hunters Cast","type":"artist","uri":"spotify:artist:7mW7Tv7NvywKKXqafZo0Lc"},{"external_urls":{"spotify":"https://open.spotify.com/artist/2yNNYQBChuox9A5Ka93BIn"},"href":"https://api.s[...]
