---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/playlists/6UeSakyzhiEt4NB3UAd6NQ/tracks?limit=10
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjFhNTFmY2I0NGJiMjI2Y2FlMmNjZDAwM2I5NzM3NjlkIg=="'
    body:
      encoding: UTF-8
      string: '{"href":"https://api.spotify.com/v1/playlists/6UeSakyzhiEt4NB3UAd6NQ/tracks?offset=0&limit=10","items":[{"added_at":"2025-12-26T14:09:40Z","added_by":{"external_urls":{"spotify":"https://open.spotify.com/user/billboard.com"},"href":"https://api.spotify.com/v1/users/billboard.com","id":"billboard.com","type":"user","uri":"spotify:user:billboard.com"},"is_local":false,"primary_color":null,"track":{"preview_url":null,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"explicit":false,"type":"track","episode":false,"track":true,"album":{"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","BY","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"type":"album","album_type":"album","href":"https://api.spotify.com/v1/albums/61ulfFSmmxMhc2wCdmdMkN","id":"61ulfFSmmxMhc2wCdmdMkN","images":[{"height":640,"url":"https://i.scdn.co/image/ab67616d0000b273c0862332847213b151ffab31","width":640},{"height":300,"url":"https://i.scdn.co/image/ab67616d00001e02c0862332847213b151ffab31","width":300},{"height":64,"url":"https://i.scdn.co/image/ab67616d00004851c0862332847213b151ffab31","width":64}],"name":"Merry
        Christmas","release_date":"1994-10-28","release_date_precision":"day","uri":"spotify:album:61ulfFSmmxMhc2wCdmdMkN","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/4iHNK0tOyZPYnBU7nGAgpQ"},"href":"https://api.spotify.com/v1/artists/4iHNK0tOyZPYnBU7nGAgpQ","id":"4iHNK0tOyZPYnBU7nGAgpQ","name":"Mariah
        Carey","type":"artist","uri":"spotify:artist:4iHNK0tOyZPYnBU7nGAgpQ"}],"external_urls":{"spotify":"https://open.spotify.com/album/61ulfFSmmxMhc2wCdmdMkN"},"total_tracks":10},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/4iHNK0tOyZPYnBU7nGAgpQ"},"href":"https://api.spotify.com/v1/artists/4iHNK0tOyZPYnBU7nGAgpQ","id":"4iHNK0tOyZPYnBU7nGAgpQ","name":"Mariah
        Carey","type":"artist","uri":"spotify:artist:4iHNK0tOyZPYnBU7nGAgpQ"}],"disc_number":1,"track_number":2,"duration_ms":241562,"external_ids":{"isrc":"USSM19400325"},"external_urls":{"spotify":"https://open.spotify.com/track/0bYg9bo50gSsH3LtXe2SQn"},"href":"https://api.spotify.com/v1/tracks/0bYg9bo50gSsH3LtXe2SQn","id":"0bYg9bo50gSsH3LtXe2SQn","name":"All
        I Want for Christmas Is You","popularity":100,"uri":"spotify:track:0bYg9bo50gSsH3LtXe2SQn","is_local":false},"video_thumbnail":{"url":null}},{"added_at":"2025-12-26T14:09:40Z","added_by":{"external_urls":{"spotify":"https://open.spotify.com/user/billboard.com"},"href":"https://api.spotify.com/v1/users/billboard.com","id":"billboard.com","type":"user","uri":"spotify:user:billboard.com"},"is_local":false,"primary_color":null,"track":{"preview_url":null,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","[...]
