---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/playlists/6UeSakyzhiEt4NB3UAd6NQ/tracks?limit=10
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <GENIUS_CLIENT_ACCESS_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - Bearer realm="spotify", error="invalid_request", error_description="Only valid
        bearer authentication supported"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "status": 400,
            "message": "Only valid bearer authentication supported"
          }
        }
  recorded_at: Wed, 17 Dec 2025 17:50:16 GMT
recorded_with: VCR 6.3.1
