---
http_interactions:
- request:
    method: get
    uri: https://api.genius.com/search?q=The%20Fate%20of%20Ophelia%20Taylor%20Swift
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <GENIUS_CLIENT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"23938c45a3d3ae756478fa4de40df82f"
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9922'
      X-Ratelimit-Reset:
      - '66628'
    body:
      encoding: UTF-8
      string: '{"meta":{"status":200},"response":{"hits":[{"highlights":[],"index":"song","type":"song","result":{"annotation_count":27,"api_path":"/songs/12287956","artist_names":"Taylor
        Swift","full_title":"The Fate of Ophelia by Taylor Swift","header_image_thumbnail_url":"https://images.genius.com/20137020caed6518eafd30ae87b0c216.300x300x1.png","header_image_url":"https://images.genius.com/20137020caed6518eafd30ae87b0c216.1000x1000x1.png","id":12287956,"lyrics_owner_id":17813994,"lyrics_state":"complete","path":"/Taylor-swift-the-fate-of-ophelia-lyrics","primary_artist_names":"Taylor
        Swift","pyongs_count":26,"relationships_index_url":"https://genius.com/Taylor-swift-the-fate-of-ophelia-sample","release_date_components":{"year":2025,"month":10,"day":3},"release_date_for_display":"October
        3, 2025","release_date_with_abbreviated_month_for_display":"Oct. 3, 2025","song_art_image_thumbnail_url":"https://images.genius.com/20137020caed6518eafd30ae87b0c216.300x300x1.png","song_art_image_url":"https://images.genius.com/20137020caed6518eafd30ae87b0c216.1000x1000x1.png","stats":{"unreviewed_annotations":19,"concurrents":14,"hot":false,"pageviews":3731694},"title":"The
        Fate of Ophelia","title_with_featured":"The Fate of Ophelia","url":"https://genius.com/Taylor-swift-the-fate-of-ophelia-lyrics","featured_artists":[],"primary_artist":{"api_path":"/artists/1177","header_image_url":"https://images.genius.com/bc9884a4c7c8c6b71aa73509d8a7d6a0.1000x274x1.jpg","id":1177,"image_url":"https://images.genius.com/e9c8ac4c408d4f0a7daf4a3395cd8e1a.1000x1000x1.jpg","is_meme_verified":true,"is_verified":true,"name":"Taylor
        Swift","url":"https://genius.com/artists/Taylor-swift","iq":1544},"primary_artists":[{"api_path":"/artists/1177","header_image_url":"https://images.genius.com/bc9884a4c7c8c6b71aa73509d8a7d6a0.1000x274x1.jpg","id":1177,"image_url":"https://images.genius.com/e9c8ac4c408d4f0a7daf4a3395cd8e1a.1000x1000x1.jpg","is_meme_verified":true,"is_verified":true,"name":"Taylor
        Swift","url":"https://genius.com/artists/Taylor-swift","iq":1544}]}},{"highlights":[],"index":"song","type":"song","result":{"annotation_count":0,"api_path":"/songs/12625094","artist_names":"Taylor
        Swift[...]
- request:
    method: get
    uri: https://lingobeats-proxy.vick-fan.workers.dev/?url=https://genius.com/Taylor-swift-the-fate-of-ophelia-lyrics
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!doctype html>\n<html>\n  <head>\n    <meta itemprop=\"cf-country\"
        content=\"TW\">\n    <meta itemprop=\"long-tail-cache\" content=\"XX\">\n
        \   <meta itemprop=\"cf-cache-status\" content=\"REVALIDATED\">\n    <meta
        itemprop=\"rendered-with-cache\" content=\"false\">\n    <meta itemprop=\"cf-latitude\"
        content=\"25.05306\">\n    <meta itemprop=\"cf-longitude\" content=\"121.52639\">\n\n
        \   <title>Taylor Swift – The Fate of Ophelia Lyrics | Genius Lyrics</title>\n\n<meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\" />\n<meta
        content='width=device-width,initial-scale=1' name='viewport'>\n  <meta name=\"apple-itunes-app\"
        content=\"app-id=709482991\">\n<link href=\"https://assets.genius.com/images/apple-touch-icon.png?1766160293\"
        rel=\"apple-touch-icon\" />\n\n\n  <link href=\"https://assets.genius.com/images/apple-touch-icon.png?1766160293\"
        rel=\"apple-touch-icon\" />\n\n\n  <!-- Mobile IE allows us to activate ClearType
        technology for smoothing fonts for easy reading -->\n  <meta http-equiv=\"cleartype\"
        content=\"on\">\n\n\n\n<META name=\"y_key\" content=\"f63347d284f184b0\">\n\n<meta
        property=\"og:site_name\" content=\"Genius\"/>\n<meta property=\"fb:app_id\"
        content=\"265539304824\" />\n<meta property=\"fb:pages\" content=\"308252472676410\"
        />\n\n<meta name=\"format-detection\" content=\"telephone=no\">\n\n<link title=\"Genius\"
        type=\"application/opensearchdescription+xml\" rel=\"search\" href=\"https://genius.com/opensearch.xml\">\n\n
        \     <script>\n    (function() {\n      const urlParams = new URLSearchParams(window.location.search);\n
        \     const cfCountry = document.querySelector('meta[itemprop=\"cf-country\"]')?.content;\n
        \     const enablePermutive = urlParams.get('enablePermutive');\n\n      if
        (enablePermutive === 'false') return;\n      if (enablePermutive === null
        && cfCountry !== 'US') return;\n\n      !function(e,o,n,i){if(!e){e=e||{},window.permutive=e,e.q=[];var
        t=function(){return([1[...]
[...]
- request:
    method: get
    uri: https://api.genius.com/search?q=totally-not-exist-zzz%20totally-not-exist-zzz
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <GENIUS_CLIENT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e241501580daf7272a72c348bb124544"
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9915'
      X-Ratelimit-Reset:
      - '66593'
    body:
      encoding: UTF-8
      string: '{"meta":{"status":200},"response":{"hits":[]}}'
  recorded_at: Sat, 20 Dec 2025 12:20:02 GMT
- request:
    method: get
    uri: https://api.genius.com/search?q=Photograph%20Ed%20Sheeran
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <GENIUS_CLIENT_ACCESS_TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="Rack::OAuth2", error="invalid_token", error_description="The
        access token provided is expired, revoked, malformed or invalid for other
        reasons."
    body:
      encoding: UTF-8
      string: '{"error":"invalid_token","error_description":"The access token provided
        is expired, revoked, malformed or invalid for other reasons."}'
  recorded_at: Sat, 20 Dec 2025 12:20:03 GMT
- request:
    method: get
    uri: https://api.genius.com/search?q=Golden%20HUNTR/X
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <GENIUS_CLIENT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ad84ae674e4fde3788b8738332a75752"
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9914'
      X-Ra[...]
- request:
    method: get
    uri: https://lingobeats-proxy.vick-fan.workers.dev/?url=https://genius.com/Huntr-x-ejae-audrey-nuna-rei-ami-and-kpop-demon-hunters-cast-golden-lyrics
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!doctype html>\n<html>\n  <head>\n    <meta itemprop=\"cf-country\"
        cont[...]
