---
http_interactions:
- request:
    method: get
    uri: https://api.genius.com/search?q=Golden%20HUNTR/X
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <GENIUS_CLIENT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ad84ae674e4fde3788b8738332a75752"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":200},"response":{"hits":[{"highlights":[],"index":"song","type":"song","result":{"annotation_count":13,"api_path":"/songs/12026309","artist_names":"HUNTR/X,
        EJAE, AUDREY NUNA, REI AMI & KPop Demon Hunters Cast","full_title":"Golden
        by HUNTR/X, EJAE, AUDREY NUNA, REI AMI & KPop Demon Hunters Cast","header_image_thumbnail_url":"https://images.genius.com/b5c11506d341f028f3665d09b2d41250.300x300x1.png","header_image_url":"https://images.genius.com/b5c11506d341f028f3665d09b2d41250.1000x1000x1.png","id":12026309,"lyrics_owner_id":16463578,"lyrics_state":"complete","path":"/Huntr-x-ejae-audrey-nuna-rei-ami-and-kpop-demon-hunters-cast-golden-lyrics","primary_artist_names":"HUNTR/X,
        EJAE, AUDREY NUNA, REI AMI & KPop Demon Hunters Cast","pyongs_count":22,"relationships_index_url":"https://genius.com/Huntr-x-ejae-audrey-nuna-rei-ami-and-kpop-demon-hunters-cast-golden-sample","release_date_components":{"year":2025,"month":6,"day":20},"release_date_for_display":"June
        20, 2025","release_date_with_abbreviated_month_for_display":"Jun. 20, 2025","song_art_image_thumbnail_url":"https://images.genius.com/b5c11506d341f028f3665d09b2d41250.300x300x1.png","song_art_image_url":"https://images.genius.com/b5c11506d341f028f3665d09b2d41250.1000x1000x1.png","stats":{"unreviewed_annotations":2,"concurrents":6,"hot":false,"pageviews":3328747},"title":"Golden","title_with_featured":"Golden","url":"https://genius.com/Huntr-x-ejae-audrey-nuna-rei-ami-and-kpop-demon-hunters-cast-golden-lyrics","featured_artists":[],"primary_artist":{"api_path":"/artists/4436796","header_image_url":"https://images.genius.com/a20db8caea2037dfa8b6335cf84df3fc.1000x419x1.jpg","id":4436796,"image_url":"https://images.genius.com/c0503895093d3c7503f0746e91a8200e.1000x1000x1.webp","is_meme_verified":false,"is_verified":false,"name":"HUNTR/X","url":"https://genius.com/artists/Huntr-x"},"primary_artists":[{"api_path":"/artists/4436796","header_image_url":"https://images.genius.com/a20db8caea2037dfa8b6335cf84df3fc.1000x419x1.jpg","id":4436796,"image_url":"https://images.genius.com/c0503895093d3c7503f0746e91a8200e.1000x1000x1.webp","is_meme_verified":false,"is_verified":false,"name":"HUNTR/X","url":"https://genius.com/artists/Huntr-x"},{"api_path":"/artists/1015580","header_image_url":"https://images.genius.com/16196e32ad3683546b26db9f72e0b0f2.1000x300x1.png","id":1015580,"image_url":"https://images.genius.com/dfca27783d1265a7af7aed7974a670ba.640x640x1.jpg","is_meme_verified":false,"is_verified":false,"name":"EJAE","url":"https://genius.com/artists/Ejae"},{"api_path":"/artists/2130780","header_image_url":"https://images.genius.com/6222f43a37ae6ff3b5146e845688fd64.1000x419x1.png","id":2130780,"image_url":"https://images.genius.com/75e3b9203fc150a1f2ed4a47b2106188.400x400x1.jpg","is_meme_verified":false,"is_verified":false,"name":"AUDREY
        NUNA","url":"https://genius.com/artists/Audrey-nuna"},{"api_path":"/artists/1917162","header_image_url":"https://images.genius.com/4b6a64b541a6b20812134a03125e26fa.1000x583x1.png","id":1917162,"image_url":"https://images.genius.com/ce387507bbe56ab649db9b153bdc3dd0.1000x1000x1.jpg","is_meme_verified":false,"is_verified":true,"name":"REI
        AMI","url":"https://genius.com/artists/Rei-ami","iq":1568},{"api_path":"/artists/4468523","header_image_url":"https://images.genius.com/cdd18478350c8c78e2fc01f08d520eef.1000x1000x1.jpg","id":4468523,"image_url":"https://images.genius.com/cdd18478350c8c78e2fc01f08d520eef.1000x1000x1.jpg","is_meme_verified":false,"is_verified":false,"name":"KPop
        Demon Hunters Cast","url":"https://genius.com/artists/Kpop-demon-hunters-cast"}]}},{"highlights":[],"index":"song","type":"song","result":{"annotation_count":0,"api_path":"/songs/12544606","artist_na[...]
- request:
    method: get
    uri: https://genius.com/Huntr-x-ejae-audrey-nuna-rei-ami-and-kpop-demon-hunters-cast-golden-lyrics
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <GENIUS_CLIENT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - W/"19a09f91fbb6f42b14ccc49329252237"
    body:
      encoding: UTF-8
      string: "<!doctype html>\n<html>\n  <head>\n    <meta itemprop=\"cf-country\"
        content=\"TW\">\n    <meta itemprop=\"long-tail-cache\" content=\"XX\">\n
        \   <meta itemprop=\"cf-cache-status\" content=\"HIT\">\n    <meta itemprop=\"rendered-with-cache\"
        content=\"false\">\n    <meta itemprop=\"cf-latitude\" content=\"24.73167\">\n
        \   <meta itemprop=\"cf-longitude\" content=\"121.09083\">\n\n    <title>HUNTR/X,
        EJAE, AUDREY NUNA, REI AMI & KPop Demon Hunters Cast – Golden Lyrics | Genius
        Lyrics</title>\n\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"
        />\n<meta content='width=device-width,initial-scale=1' name='viewport'>\n
        \ <meta name=\"apple-itunes-app\" content=\"app-id=709482991\">\n<link href=\"https://assets.genius.com/images/apple-touch-icon.png?1761924511\"
        rel=\"apple-touch-icon\" />\n\n\n  <link href=\"https://assets.genius.com/images/apple-touch-icon.png?1761924511\"
        rel=\"apple-touch-icon\" />\n\n\n  <!-- Mobile IE allows us to activate ClearType
        technology for smoothing fonts for easy reading -->\n  <meta http-equiv=\"cleartype\"
        content=\"on\">\n\n\n\n<META name=\"y_key\" content=\"f63347d284f184b0\">\n\n<meta
        property=\"og:site_name\" content=\"Genius\"/>\n<meta property=\"fb:app_id\"
        content=\"265539304824\" />\n<meta property=\"fb:pages\" content=\"308252472676410\"
        />\n\n<link title=\"Genius\" type=\"application/opensearchdescription+xml\"
        rel=\"search\" href=\"https://genius.com/opensearch.xml\">\n\n    <!--sse-->\n
        \ <script>window['Genius.ads'] = window['Genius.ads'] || [];</script>\n\n
        \   <script>\n    (function () {\n      const generateUUID = () =>\n        \"xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx\".replace(/[xy]/g,
        function (c) {\n          const r = (Math.random() * 16) | 0;\n          const
        v = c === \"x\" ? r : (r & 0x3) | 0x8;\n          return v.toString(16);\n
        \       });\n  \n      let isLocalStorageAvailable = false;\n      const isAvailable
        = () => {\n        if ([...]
- request:
    method: get
    uri: https://api.genius.com/search?q=nonexistent-song%20no-one
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <GENIUS_CLIENT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"91f8e4253c81bcae17551bb81a42ff54"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":200},"response":{"hit[...]
- request:
    method: get
    uri: https://genius.com/Universe-narrows-another-nonexistent-song-lyrics
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <GENIUS_CLIENT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - W/"efd7c7ac7c9acfccd24bf2900fdbae7c"
    body:
      encoding: UTF-8
      string: "<!doctype html>\n<html>\n  <head>\n [...]
- request:
    method: get
    uri: https://api.genius.com/search?q=Golden%20Ed%20Sheeran
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <GENIUS_CLIENT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c2ea299f5a8fe0c690fa9de937a433da"
    body:
      encoding: UTF-8
      string: '{"meta":{"status":200},"response":{"hits":[[...]
- request:
    method: get
    uri: https://genius.com/Spotify-todays-top-hits-2-5-21-feat-the-weeknd-annotated
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <GENIUS_CLIENT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - W/"bfbc7a9af4fb79350c2047f4c91bca6c"
    body:
      encoding: UTF-8
      string: "<!doctype html>\n<html>\n  <[...]
