---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <SPOTIFY_BASIC_AUTH>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"<SPOTIFY_ACCESS_TOKEN>","token_type":"Bearer","expires_in":3600}'
  recorded_at: Fri, 28 Nov 2025 20:31:58 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/playlists/6UeSakyzhiEt4NB3UAd6NQ/tracks?limit=10
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImRhYzcwNzhhNmI0OTU3OTVlMWM2MDU3NDRmZTJiZTk2Ig=="'
    body:
      encoding: UTF-8
      string: '{"href":"https://api.spotify.com/v1/playlists/6UeSakyzhiEt4NB3UAd6NQ/tracks?offset=0&limit=10","items":[{"added_at":"2025-11-15T18:45:03Z","added_by":{"external_urls":{"spotify":"https://open.spotify.com/user/billboard.com"},"href":"https://api.spotify.com/v1/users/billboard.com","id":"billboard.com","type":"user","uri":"spotify:user:billboard.com"},"is_local":false,"primary_color":null,"track":{"preview_url":null,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"explicit":false,"type":"track","episode":false,"track":true,"album":{"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"type":"album","album_type":"album","href":"https://api.spotify.com/v1/albums/4a6NzYL1YHRUgx9e3YZI6I","id":"4a6NzYL1YHRUgx9e3YZI6I","images":[{"height":640,"url":"https://i.scdn.co/image/ab67616d0000b273d7812467811a7da6e6a44902","width":640},{"height":300,"url":"https://i.scdn.co/image/ab67616d00001e02d7812467811a7da6e6a44902","width":300},{"height":64,"url":"https://i.scdn.co/image/ab67616d00004851d7812467811a7da6e6a44902","width":64}],"name":"The
        Life of a Showgirl","release_date":"2025-10-03","release_date_precision":"day","uri":"spotify:album:4a6NzYL1YHRUgx9e3YZI6I","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/06HL4z0CvFAxyc27GXpf02"},"href":"https://api.spotify.com/v1/artists/06HL4z0CvFAxyc27GXpf02","id":"06HL4z0CvFAxyc27GXpf02","name":"Taylor
        Swift","type":"artist","uri":"spotify:artist:06HL4z0CvFAxyc27GXpf02"}],"external_urls":{"spotify":"https://open.spotify.com/album/4a6NzYL1YHRUgx9e3YZI6I"},"total_tracks":12},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/06HL4z0CvFAxyc27GXpf02"},"href":"https://api.spotify.com/v1/artists/06HL4z0CvFAxyc27GXpf02","id":"06HL4z0CvFAxyc27GXpf02","name":"Taylor
        Swift","type":"artist","uri":"spotify:artist:06HL4z0CvFAxyc27GXpf02"}],"disc_number":1,"track_number":1,"duration_ms":226073,"external_ids":{"isrc":"USUG12506436"},"external_urls":{"spotify":"https://open.spotify.com/track/53iuhJlwXhSER5J2IYYv1W"},"href":"https://api.spotify.com/v1/tracks/53iuhJlwXhSER5J2IYYv1W","id":"53iuhJlwXhSER5J2IYYv1W","name":"The
        Fate of Ophelia","popularity":100,"uri":"spotify:track:53iuhJlwXhSER5J2IYYv1W","is_local":false},"video_thumbnail":{"url":null}},{"added_at":"2025-11-15T18:45:03Z","added_by":{"external_urls":{"spotify":"https://open.spotify.com/user/billboard.com"},"href":"https://api.spotify.com/v1/users/billboard.com","id":"billboard.com","type":"user","uri":"spotify:user:billboard.com"},"is_local":false,"primary_color":null,"track":{"preview_url":null,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","[...]
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic QkFEX0lEOkJBRF9TRUNSRVQ=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"invalid_client","error_description":"Invalid client"}'
  recorded_at: Fri, 28 Nov 2025 20:31:59 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=20&market=US&q=artist:%22Ed%20Sheeran%22&type=track
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImE0M2FmOGE1YzcyNmVlOWFhODAxNTVjYmIyYThkYjY1Ig=="'
    body:
      encoding: UTF-8
      string: '{"tracks":{"href":"https://api.spotify.com/v1/search?offset=0&limit=20&query=artist%3A%22Ed%20Sheeran%22&type=track&market=US","limit":20,"next":"https://api.spotify.com/v1/search?offset=20&limit=20&query=artist%3A%22Ed%20Sheeran%22&type=track&market=US","offset":0,"previous":null,"total":103,"items":[{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/6eUKZXaKkcviH0Ku9w2n3V"},"href":"https://api.spotify.com/v1/artists/6eUKZXaKkcviH0Ku9w2n3V","id":"6eUKZXaKkcviH0Ku9w2n3V","name":"Ed
        Sheeran","type":"artist","uri":"spotify:artist:6eUKZXaKkcviH0Ku9w2n3V"},{"external_urls":{"spotify":"https://open.spotify.com/artist/3PhoLpVuITZKcymswpck5b"},"href":"https://api.spotify.com/v1/artists/3PhoLpVuITZKcymswpck5b","id":"3PhoLpVuITZKcymswpck5b","name":"Elton
        John","type":"artist","uri":"spotify:artist:3PhoLpVuITZKcymswpck5b"}],"external_urls":{"spotify":"https://open.spotify.com/album/3pqY0b5nEKoWwSrrwMwqMK"},"href":"https://api.spotify.com/v1/albums/3pqY0b5nEKoWwSrrwMwqMK","id":"3pqY0b5nEKoWwSrrwMwqMK","images":[{"height":640,"width":640,"url":"https://i.scdn.co/image/ab67616d0000b273b629026e4cf6254a90dfc414"},{"height":300,"width":300,"url":"https://i.scdn.co/image/ab67616d00001e02b629026e4cf6254a90dfc414"},{"height":64,"width":64,"url":"https://i.scdn.co/image/ab67616d00004851b629026e4cf6254a90dfc414"}],"is_playable":true,"name":"Merry
        Christmas","release_date":"2021-12-03","release_date_precision":"day","total_tracks":1,"type":"album","uri":"spotify:album:3pqY0b5nEKoWwSrrwMwqMK"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/6eUKZXaKkcviH0Ku9w2n3V"},"href":"https://api.spotify.com/v1/artists/6eUKZXaKkcviH0Ku9w2n3V","id":"6eUKZXaKkcviH0Ku9w2n3V","name":"Ed
        Sheeran","type":"artist","uri":"spotify:artist:6eUKZXaKkcviH0Ku9w2n3V"},{"external_urls":{"spotify":"https://ope[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=20&market=US&q=artist:%22totally-not-exist-zzz%22&type=track
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImNiZmUwYmMxMjc1YjU3NTk1OGJmNzIzOGEyNjBhOWZjIg=="'
    body:
      encoding: UTF-8
      string: '{"tracks":{"href":"https://api.spotify.com/v1/search?offset=0&limit=20&query=artist%3A%22totally-not-exist-zzz%22&type=track&market=US","limit":20,"next":null,"offset":0,"previous":null,"total":0,"items":[]}}'
  recorded_at: Fri, 28 Nov 2025 20:32:05 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=20&market=US&q=track:%22Golden%22&type=track
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImRkNWJjMWY0ODU3MzA4NDhlODAyZmVmOWY3MTRiYThmIg=="'
    body:
      encoding: UTF-8
      string: [...]
- request:
    method: get
    uri: https://api.genius.com/search?q=Golden%20Jill%20Scott
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - W/"64995288a7f92e1b0b8afd08c8100079"
      Rendered-With-Cache:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"meta":{"status":200},"response":{"hits":[{"highlights":[],"index":"song","type":"song","result":{"annotation_count":2,"api_path":"/songs/604509","artist_names":"Jill
        Scott","full_title":"Golden by Jill Scott","header_image_thumbnail_url":"https://images.genius.com/a6a0bf87417f34555a11f3588c915a99.300x300x1.jpg","header_image_url":"https://images.genius.com/a6a0bf87417f34555a11f3588c915a99.1000x1000x1.jpg","id":604509,"lyrics_owner_id":1168310,"lyrics_state":"complete","path":"/Jill-scott-golden-lyrics","primary_artist_names":"Jill
        Scott","pyongs_count":4,"relationships_index_url":"https://genius.com/Jill-scott-golden-sample","release_date_components":{"year":2004,"month":6,"day":15},"release_date_for_display":"June
        15, 2004","release_date_with_abbreviated_month_for_display":"Jun. 15, 2004","song_art_image_thumbnail_url":"https://images.genius.com/a6a0bf87417f34555a11f3588c915a99.300x300x1.jpg","song_art_image_url":"https://images.genius.com/a6a0bf87417f34555a11f3588c915a99.1000x1000x1.jpg","stats":{"unreviewed_annotations":2,"hot":false,"pageviews":64181},"title":"Golden","title_with_featured":"Golden","url":"https://genius.com/Jill-scott-golden-lyrics","featured_artists":[],"primary_artist":{"api_path":"/artists/1731","header_image_url":"https://images.genius.com/a35cee11d0c57ca4318101531a2e1b81.300x199x1.jpg","id":1731,"image_url":"https://s3.amazonaws.com/rapgenius/JILL-SCOTT.jpg","is_meme_verified":false,"is_verified":false,"name":"Jill
        Scott","url":"https://genius.com/artists/Jill-scott"},"primary_artists":[{"api_path":"/artists/1731","header_image_url":"https://images.genius.com/a35cee11d0c57ca4318101531a2e1b81.300x199x1.jpg","id":1731,"image_url":"https://s3.amazonaws.com/rapgenius/JILL-SCOTT.jpg","is_meme_verified":false,"is_verified":false,"name":"Jill
        Scott","url":"https://genius.com/artists/Jill-scott"}]}},{"highlights":[],"index":"song","type":"song","result":{"annotation_count":1,"api_path":"/songs/54649","artist_names":"Domo
        Genesis (Ft. Tyler, The Creator)","full_title":"[...]
- request:
    method: get
    uri: https://lingobeats-proxy.vick-fan.workers.dev/?url=https://genius.com/Jill-scott-golden-lyrics
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!doctype html>\n<html>\n  <head>\n    <meta itemprop=\"cf-country\"
        content=\"TW\">\n    <meta itemprop=\"long-tail-cache\" content=\"XX\">\n
        \   <meta itemprop=\"cf-cache-status\" content=\"HIT\">\n    <meta itemprop=\"rendered-with-cache\"
        content=\"false\">\n    <meta itemprop=\"cf-latitude\" content=\"25.05306\">\n
        \   <meta itemprop=\"cf-longitude\" content=\"121.52639\">\n\n    <title>Jill Scott
        – Golden Lyrics | Genius Lyrics</title>\n\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\" />\n<meta content='width=device-width,initial-scale=1'
        name='viewport'>\n  <meta name=\"apple-itunes-app\" content=\"app-id=709482991\">\n<link
        href=\"https://assets.genius.com/images/apple-touch-icon.png?1764012224\"
        rel=\"apple-touch-icon\" />\n\n\n  <link href=\"https://assets.genius.com/images/apple-touch-icon.png?1764012224\"
        rel=\"apple-touch-icon\" />\n\n\n  <!-- Mobile IE allows us to activate ClearType
        technology for smoothing fonts for easy reading -->\n  <meta http-equiv=\"cleartype\"
        content=\"on\">\n\n\n\n<META name=\"y_key\" content=\"f63347d284f184b0\">\n\n<meta
        property=\"og:site_name\" content=\"Genius\"/>\n<meta property=\"fb:app_id\"
        content=\"265539304824\" />\n<meta property=\"fb:pages\" content=\"308252472676410\"
        />\n\n<link title=\"Genius\" type=\"application/opensearchdescription+xml\"
        rel=\"search\" href=\"https://genius.com/opensearch.xml\">\n\n    <!--sse-->\n
        \ <script>window['Genius.ads'] = window['Genius.ads'] || [];</script>\n\n
        \   <script>\n    (function () {\n      const generateUUID = () =>\n        \"xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx\".replace(/[xy]/g,
        function (c) {\n          const r = (Math.random() * 16) | 0;\n          const
        v = c === \"x\" ? r : (r & 0x3) | 0x8;\n          return v.toString(16);\n
        \       });\n  \n      let isLocalStorageAvailable = false;\n      const isAvailable
        = () => {\n        if ([...]
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/tracks/0bHs3ly4Bv5BlzE3KrePfX
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjE0MWQyNTBkMjQxYTllNTQxYzJmZDE5MDcyYWNkNDljIg=="'
    body:
      encoding: UTF-8
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/6AVLthptCPhfrxlHadOBJD"},"href":"https://api.spotify.com/v1/artists/6AVLthptCPhfrxlHadOBJD","id":"6AVLthptCPhfrxlHadOBJD","name":"Jill
        Scott","type":"artist","uri":"spotify:artist:6AVLthptCPhfrxlHadOBJD"}],"available_markets":["CA","US"],"external_urls":{"spotify":"https://open.spotify.com/album/21JbNB7qmJoOr03sM9dMeR"},"href":"https://api.spotify.com/v1/albums/21JbNB7qmJoOr03sM9dMeR","id":"21JbNB7qmJoOr03sM9dMeR","images":[{"url":"https://i.scdn.co/image/ab67616d0000b273b0f1fad7abfc5b059cbe1bbd","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e02b0f1fad7abfc5b059cbe1bbd","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d00004851b0f1fad7abfc5b059cbe1bbd","width":64,"height":64}],"name":"Beautifully
        Human: Words and Sounds Vol. 2","release_date":"2004-08-31","release_date_precision":"day","total_tracks":16,"type":"album","uri":"spotify:album:21JbNB7qmJoOr03sM9dMeR"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/6AVLthptCPhfrxlHadOBJD"},"href":"https://api.spotify.com/v1/artists/6AVLthptCPhfrxlHadOBJD","id":"6AVLthptCPhfrxlHadOBJD","name":"Jill
        Scott","type":"artist","uri":"spotify:artist:6AVLthptCPhfrxlHadOBJD"}],"available_markets":["CA","US"],"disc_number":1,"duration_ms":231560,"explicit":false,"external_ids":{"isrc":"USSM10406250"},"external_urls":{"spotify":"https://open.spotify.com/track/0bHs3ly4Bv5BlzE3KrePfX"},"href":"https://api.spotify.com/v1/tracks/0bHs3ly4Bv5BlzE3KrePfX","id":"0bHs3ly4Bv5BlzE3KrePfX","is_local":false,"name":"Golden","popularity":59,"preview_url":null,"track_number":3,"type":"track","uri":"spotify:track:0bHs3ly4Bv5BlzE3KrePfX"}'
  recorded_at: Fri, 28 Nov 2025 20:32:12 GMT
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=20&market=US&q=track:%22totally-not-exist-zzz%22&type=track
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImUwMGQzOTU1OWQ3NjkxMWU4MDM3YWNhZjE5NjBkNDVjIg=="'
    body:
      encoding: UTF-8
      string: '{"tracks":{"href":"https://api.spotify.com/v1/search?offset=0&limit=20&query=track%3A%22totally-not-exist-zzz%22&type=track&market=US","limit":20,"next":null,"offset":0,"previous":null,"total":0,"items":[]}}'
  recorded_at: Fri, 28 Nov 2025 20:32:13 GMT
[...]
