---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic Y2Y2OWRhNjY2NWNiNGJhNGFmYmMyYjUyYjU5YmYyMzc6NzE1ZjI0ZTE1NmQwNGU3ZGI2Nzk0Zjk4NjhiYmM5NGQ=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"BQA9FUmnMEWdz7K05DsLpNy61ISiEhWMByC-hmNcK84qAe-ppaCcYWNHiyYD564hIQKSv6VO9R0SFdr-QbtlZUnC0CRgJhsVjX7tPJ1uzi-ZjFGP3FFFNQM_CI6S73zVrW6wMlLAKwk","token_type":"Bearer","expires_in":3600}'
  recorded_at: Sat, 20 Dec 2025 06:49:53 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/playlists/6UeSakyzhiEt4NB3UAd6NQ/tracks?limit=10
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer BQA9FUmnMEWdz7K05DsLpNy61ISiEhWMByC-hmNcK84qAe-ppaCcYWNHiyYD564hIQKSv6VO9R0SFdr-QbtlZUnC0CRgJhsVjX7tPJ1uzi-ZjFGP3FFFNQM_CI6S73zVrW6wMlLAKwk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjE5Mzk4MTEyNzgyMWM1MTMyNDY5ZmQwYWNmYzMwOGM3Ig=="'
    body:
      encoding: UTF-8
      string: '{"href":"https://api.spotify.com/v1/playlists/6UeSakyzhiEt4NB3UAd6NQ/tracks?offset=0&limit=10","items":[{"added_at":"2025-12-07T18:31:17Z","added_by":{"external_urls":{"spotify":"https://open.spotify.com/user/billboard.com"},"href":"https://api.spotify.com/v1/users/billboard.com","id":"billboard.com","type":"user","uri":"spotify:user:billboard.com"},"is_local":false,"primary_color":null,"track":{"preview_url":null,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"explicit":false,"type":"track","episode":false,"track":true,"album":{"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"type":"album","album_type":"album","href":"https://api.spotify.com/v1/albums/4a6NzYL1YHRUgx9e3YZI6I","id":"4a6NzYL1YHRUgx9e3YZI6I","images":[{"height":640,"url":"https://i.scdn.co/image/ab67616d0000b273d7812467811a7da6e6a44902","width":640},{"height":300,"url":"https://i.scdn.co/image/ab67616d00001e02d7812467811a7da6e6a44902","width":300},{"height":64,"url":"https://i.scdn.co/image/ab67616d00004851d7812467811a7da6e6a44902","width":64}],"name":"The
        Life of a Showgirl","release_date":"2025-10-03","release_date_precision":"day","uri":"spotify:album:4a6NzYL1YHRUgx9e3YZI6I","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/06HL4z0CvFAxyc27GXpf02"},"href":"https://api.spotify.com/v1/artists/06HL4z0CvFAxyc27GXpf02","id":"06HL4z0CvFAxyc27GXpf02","name":"Taylor
        Swift","type":"artist","uri":"spotify:artist:06HL4z0CvFAxyc27GXpf02"}],"external_urls":{"spotify":"https://open.spotify.com/album/4a6NzYL1YHRUgx9e3YZI6I"},"total_tracks":12},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/06HL4z0CvFAxyc27GXpf02"},"href":"https://api.spotify.com/v1/artists/06HL4z0CvFAxyc27GXpf02","id":"06HL4z0CvFAxyc27GXpf02","name":"Taylor
        Swift","type":"artist","uri":"spotify:artist:06HL4z0CvFAxyc27GXpf02"}],"disc_number":1,"track_number":1,"duration_ms":226073,"external_ids":{"isrc":"USUG12506436"},"external_urls":{"spotify":"https://open.spotify.com/track/53iuhJlwXhSER5J2IYYv1W"},"href":"https://api.spotify.com/v1/tracks/53iuhJlwXhSER5J2IYYv1W","id":"53iuhJlwXhSER5J2IYYv1W","name":"The
        Fate of Ophelia","popularity":100,"uri":"spotify:track:53iuhJlwXhSER5J2IYYv1W","is_local":false},"video_thumbnail":{"url":null}},{"added_at":"2025-12-07T18:31:17Z","added_by":{"external_urls":{"spotify":"https://open.spotify.com/user/billboard.com"},"href":"https://api.spotify.com/v1/users/billboard.com","id":"billboard.com","type":"user","uri":"spotify:user:billboard.com"},"is_local":false,"primary_color":null,"track":{"preview_url":null,"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","[...]
