---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/tracks/53iuhJlwXhSER5J2IYYv1W
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer BQA9FUmnMEWdz7K05DsLpNy61ISiEhWMByC-hmNcK84qAe-ppaCcYWNHiyYD564hIQKSv6VO9R0SFdr-QbtlZUnC0CRgJhsVjX7tPJ1uzi-ZjFGP3FFFNQM_CI6S73zVrW6wMlLAKwk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImQ0MGRkMGJhZjBkMzFkZWFjOTFjNzlkNmE1ZGQ4MzAwIg=="'
    body:
      encoding: UTF-8
      string: '{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/06HL4z0CvFAxyc27GXpf02"},"href":"https://api.spotify.com/v1/artists/06HL4z0CvFAxyc27GXpf02","id":"06HL4z0CvFAxyc27GXpf02","name":"Taylor
        Swift","type":"artist","uri":"spotify:artist:06HL4z0CvFAxyc27GXpf02"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"external_urls":{"spotify":"https://open.spotify.com/album/4a6NzYL1YHRUgx9e3YZI6I"},"href":"https://api.spotify.com/v1/albums/4a6NzYL1YHRUgx9e3YZI6I","id":"4a6NzYL1YHRUgx9e3YZI6I","images":[{"url":"https://i.scdn.co/image/ab67616d0000b273d7812467811a7da6e6a44902","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e02d7812467811a7da6e6a44902","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d00004851d7812467811a7da6e6a44902","width":64,"height":64}],"name":"The
        Life of a Showgirl","release_date":"2025-10-03","release_date_precision":"day","total_tracks":12,"type":"album","uri":"spotify:album:4a6NzYL1YHRUgx9e3YZI6I"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/06HL4z0CvFAxyc27GXpf02"},"href":"https://api.spotify.com/v1/artists/06HL4z0CvFAxyc27GXpf02","id":"06HL4z0CvFAxyc27GXpf02","name":"Taylor
        Swift","type":"artist","uri":"spotify:artist:06HL4z0CvFAxyc27GXpf02"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"disc_number":1,"duration_ms":226073,"explicit":false,"external_ids":{"isrc":"USUG12506436"},"external_urls":{"spotify":"https://open.spotify.com/track/53iuhJlwXhSER5J2IYYv1W"},"href":"https://api.spotify.com/v1/tracks/53iuhJlwXhSER5J2IYYv1W","id":"53iuhJlwXhSER5J2IYYv1W","is_local":false,"name":"The
        Fate of Ophelia","popularity":100,"preview_url":null,"track_number":1,"type":"track","uri":"spotify:track:53iuhJlwXhSER5J2IYYv1W"}'
  recorded_at: Sat, 20 Dec 2025 06:49:54 GMT
recorded_with: VCR 6.3.1
